* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: a;
  src: url(assets/jost-variable.ttf);
}

@font-face {
  font-family: b;
  src: url(assets/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face {
  font-family: c;
  src: url(assets/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#main {
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page1>nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 0px 30px;
  height: 10vh;
  width: 100vw;
}

#page1>nav>img {
  width: 12%;
  margin-top: -4vw;
}

#center-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#center-nav>a {
  text-decoration: none;
  color: #fff;
  font-family: a;
  font-size: 1vw;
  /* Adjusted for responsiveness */
  font-weight: 500;
  position: relative;
  z-index: 9;
}

#center-nav>a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#center-nav>a:hover::after {
  width: 100%;
}

#right-nav>button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #1863ff;
  border: 1px solid #fff;
  color: #fff;
  font-family: a;
  font-size: 15px;
}

#bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 35vh;
  width: 50vw;
  left: 10%;
  text-transform: capitalize;
}

#bottom-page1>h1 {
  font-family: a;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}

#bottom-page1-inner {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
}

#bottom-page1-inner {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: a;
}

#bottom-page1-inner>button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 16px;
  font-family: b;
  margin-left: 2%;
}

#bottom-page1-inner>h4 {
  font-size: 1.3vw;
  font-weight: 100;
  color: #fff;
}

#page2 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-family: a;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0a3cce;
  padding: 0vw 8vw;
  color: #fff;
}

#page2>h2 {
  font-weight: 100;
  margin-bottom: 3vw;
}

#page2>h1 {
  width: 80%;
  line-height: 1.3;
  font-weight: 100;
  font-size: 3vw;
  color: #dadada69;
}

#page3 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #1236c8;
  color: #fff;
}

#page3>canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

#page4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1137ca;
  font-family: a;
}

#page4>h3 {
  margin-left: 15vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}

#page4>h1 {
  margin-left: 15vw;
  width: 70%;
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff81;
}

#page5 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#page5>canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

#page6 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-family: a;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0a3cce;
  padding: 0vw 8vw;
  color: #fff;
}

#page6>h3 {
  font-weight: 100;
  margin-bottom: 3vw;
}

#page6>h1 {
  width: 80%;
  line-height: 1.3;
  font-weight: 100;
  font-size: 3vw;
  color: #dadada69;
}

#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

#page7>canvas {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

#page7>#page7-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 99;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 1px solid #fff;
}

#page7-circle-inner {
  position: absolute;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 1px solid #fff;
}

#page8 {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* object-fit: cover; */
}

#page8 video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page8-bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 9;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  font-family: a;
}

.page8-bottom>h1 {
  font-size: 5vw;
  font-weight: 100;

}

.page8-bottom>button {
  padding: 10px 30px;
  border-radius: 50px;
  color: #0a3cce;
  font-size: 15px;
  font-weight: 100;
  border: 1px solid #fff;

}

#page9 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  display: flex;
}

.left9 {
  position: relative;
  height: 100vh;
  width: 40vw;
  font-family: a;
  /* background-color: red; */
}

.left9>h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 6vw;
  line-height: 1;
  font-weight: 100;
  color: white;
}

.right9 {
  position: relative;
  height: 100vh;
  width: 60vw;
  /* background-color: magenta; */
}

.right9-center {
  height: 70%;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  /* background-color: aqua; */
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  border-radius: 10px;
  background-size: cover;

}

#page10 {
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  position: relative;
}

.right10 {
  position: relative;
  height: 100%;
  width: 60%;
  left: 40%;
  /* background-color: aqua; */
}

.right10-inner {
  height: 33.3%;
  width: 100%;
  /* background-color: magenta; */
  font-family: a;
  color: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  line-height: 1.5;
}

.right10-inner>h1 {
  font-size: 2vw;
}

.right10-inner>p {
  font-size: 1.3vw;
  width: 70%;
  margin-top: 1.3vw;
  margin-bottom: 2vw;
}

#page11 {
  height: 120vh;
  width: 100vw;
  background-color: #fff;
  position: relative;
  font-family: a;
}

#page11>h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: black;
  font-size: 4vw;
  font-weight: 100;


}

.page11-inner {
  position: relative;
  top: 17%;
  /* background-color: aqua; */
  margin-bottom: 1vw;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left11 {
  position: relative;
  /* background-color: yellow; */
  height: 100%;
  width: 40%;
}

.left11>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1vw;

}

.right11 {
  position: relative;
  /* background-color:pink; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right11>h4 {
  /* font-size: 4vw; */
  font-weight: 100;

}

.right11>h1 {
  /* font-weight: 100; */
  font-size: 2vw;
}

#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #02268c;


}

.page12-inner {
  position: absolute;
  top: 20%;
  right: 10%;
  font-family: a;
  color: #fff;
}

.page12-inner>h1 {
  font-size: 5vw;
  font-weight: 100;

}

.page12-inner>p {
  font-size: 1.3vw;
  font-weight: 100;

}

#page13 {
  position: relative;
  width: 100vw;
  height: 60vh;
  color: #fff;
  font-family: a;
  background-color: #000;
  padding: 10vw 10vw;
}

#page13>h1 {
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  text-transform: capitalize;
}

#page13>button {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  margin-top: 1vw;
  background-color: #0b48ed;
  color: #fff;
  transition: all ease-in 1s;

}

#page13>button:hover {
  background-color: #fff;
  color: #000;
  /* transform: translate();
    transition:  all ease-in 1s; */

}

#page14 {
  position: relative;
  height: 80vh;
  width: 100vw;
  background-color: #000;
}

.page14-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 5vw;
  height: 25%;
  width: 100%;
  background-color: #000;
  font-family: a;
  color: #fff;
  border-top: .5px solid #ffffff5C;
  border-bottom: 1px solid #ffffff54;
}

.page14-inner>i {
  font-weight: 100;
  font-size: 2.4vw;
  position: relative;
  z-index: 9;
}

.page14-inner>h1 {
  font-weight: 100;
  font-size: 2.5vw;
  position: relative;
  z-index: 9;
}

.center14 {
  position: absolute;
  height: 0%;
  width: 100%;
  background-color: #0a3cce;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease .5s;
}

.page14-inner:hover .center14 {
  height: 100%;
}
 video {
      pointer-events: none;
      object-fit: cover;
    }

    @media (max-width: 768px) {

      #center-nav {
        display: none;
      }

      nav {
        padding: 15px 20px !important;
      }

      #bottom-page1 {
        width: 90vw !important;
        left: 5% !important;
      }

      #bottom-page1>h1 {
        font-size: 8vw !important;
      }

      #bottom-page1-inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      #bottom-page1-inner>h4 {
        font-size: 3.5vw !important;
      }

      #bottom-page1-inner>button {
        font-size: 14px;
        padding: 10px 18px;
      }

      #page2>h1,
      #page4>h1,
      #page6>h1 {
        font-size: 6vw !important;
        width: 95% !important;
      }

      #page4>h3,
      #page6>h3 {
        margin-left: 5vw !important;
      }

      #page7-circle {
        height: 70vw !important;
        width: 70vw !important;
      }

      #page7-circle-inner {
        height: 50vw !important;
        width: 50vw !important;
      }

      .right9,
      .left9 {
        width: 100% !important;
      }

      #page9 {
        flex-direction: column;
      }

      .right10 {
        width: 90% !important;
        left: 5% !important;
      }

      .right10-inner>h1 {
        font-size: 5vw !important;
      }

      .right10-inner>p {
        font-size: 3.5vw !important;
        width: 100% !important;
      }

      #page11>h1 {
        font-size: 7vw !important;
      }

      .page11-inner {
        flex-direction: column;
        height: auto !important;
        gap: 20px;
      }

      .left11,
      .right11 {
        width: 90% !important;
      }

      .right11>h1 {
        font-size: 4.5vw !important;
      }

      #page13>h1 {
        font-size: 8vw !important;
      }

      .page14-inner>h1 {
        font-size: 5vw !important;
      }
    }
